/* Estilos Generales */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}

body {
	background-color: #F7F7F7;
	color: #ffffff;
}

ul {
	list-style: none;
}

a {
	
	text-decoration: none;
}




/* Estilos de la Barra de Navegación */




header {
	display: flex;
	justify-content: space-between;
	min-height: 70px;
	background-color: #444444;
	color: #CCCCCC;
	margin: 0;
	padding: 10px;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	font-weight: 900;
	font-size: 20px;
}

.logo img {
	margin-left: 30px;
	height: 50px;
	margin-right: 10px;
}

 a{
	color: #CCCCCC;
}
nav a{
	font-weight: 300;
	padding-right: 10px;
}
nav a:hover{
	color: red;
	cursor: pointer;
}

@media (max-width: 767px) {
	header{
		flex-direction: column;
	}
	nav{
		padding-top: 20px;
	}
	nav a {
		padding: 10px 40px;
	}
}
/* Estilos de la Sección de Reseñas */

/* contenido*/

.reseñas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}
main{
	background-color: #943939;
}
main h2{
	text-align: center;
	padding-top: 40px;
	
}


.articulo{ 
	width: 270px;
	background-color: #eed2d2;
	padding: 1rem;
	color: #000000;
	margin: 20px 40px;
	margin-bottom: 30px;
	border-radius: 15px;
}


.articulo h1{
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 10px;
}
.articulo p{
	margin-bottom: 1.5rem;
}

.articulo img {
	height: 300px;
	width: 100%;
	
	}
	

.articulo .texto{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	overflow: hidden;
  	text-overflow: ellipsis;
	 
	text-align: center;
	
}

.articulo .texto a span{
	color: #8b1212;
	
}

.articulo .buton {
	
	background-color: #505050;
	color: #FFFFFF;
	padding: 10px 10px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	}
	

	@media (max-width: 767px) {
		.articulo img {
			height: 200px;
			
			}
			.articulo{
				width: 270px;
				
				padding: 15px;
				margin-top: 20px;
				
			}
			.articulo p{
				font-size: 15px;
			}
			.articulo .buton {
	
				padding: 5px 10px;
				border-radius: 5px;
				}

				.articulo .texto{
					margin-top: 20px;
					text-align: center;
					
				}
				
	}

a:hover{
	color: #812a2a;
}
a i{
margin-right: 3px;
}
/* Estilos de la Sección de Noticias */





h2 {
text-align: center;
margin-bottom: 50px;
}




.noticias{
	padding-bottom: 20px;
}
.noticias .content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	height:200px;
	width: 500px;
	display: flex;
	flex-direction: row;
	
	color: #000000;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin: 10px;
	overflow: hidden;
	
	
	
  }
  
  .card img {
	height: 100%;
	
	width: 200px;
  }

  .card .buton{
	text-align: center;
	background-color: #505050;
	color: #FFFFFF;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	margin: 0 auto;
	width: 100px;
  }
  
  .card-content {
	width: 300px;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
  }
  
  .card-content h2 {
	font-size: 15px;
	margin: 0;
  }
  
 
  
  
  
  
  
  


/* Estilos del Pie de Página */

footer {

background-color: #444444;
color: #FFFFFF;
padding: 20px;
}

.redes {
display: flex;
justify-content: center;
}

.redes h3 {
margin-right: 20px;
}


.derechos p {
text-align: center;
margin-top: 20px;
font-size: 14px;
}






.redes i{ 
	padding: 2px 20px;
	color: #CCCCCC;
}

/* form contacto*/


main .text {
	padding: 50px;
	text-align: center;
}
form {
	margin: 0 auto;
	height: 700px;
	width: 80%;
	padding: 20%;
	padding-top: 0;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

@media (max-width: 767px) {
	main .text {
		padding-top: 40px;
		text-align: center;
	}
	form {
		margin: 0 auto;
		height: 700px;
		width: 100%;
		padding: 20% ;
		padding-top: 5%;
	}
	
}

/* rese;as pag */
main .contenidoR{
	position: relative;
    display: inline-block;
    
}
main .contenidoR img{
		position: relative;
		width: 100%;
		overflow-y: hidden;
}
main .contenidoR .text h1{
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 4rem;
}
main .contenidoR .text{
	font-size: 30px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .contenidoTexto{
	text-align: justify;
	padding: 15%;
	padding-bottom:20px ;
	padding-top: 2%;
}
main .contenidoTexto img{
	margin:5%;
	width: 90%;
	height: 420px;
	
}

main .contenidoTexto h1{
	text-align: center;
	margin-bottom: 20px;
}
hr{
	width: 60%;
	margin: auto;
}
@media (max-width: 967px) {
	
	main .contenidoR .text h1{
		margin-bottom: 30px;
		font-weight: 900;
		font-size: 3rem;
	}

	main .contenidoTexto img{
		margin:5%;
		width: 90%;
		height: 320px;
	}		
}
@media (max-width: 767px) {
	
	main .contenidoR .text h1{
		
		font-size: 30px;
	}
	main .contenidoR .text{
		font-size: 15px;
		text-align: center;
		position: absolute;
		
		transform: translate(-50%, -50%);
	}

	main .contenidoTexto img{
		margin:5%;
		width: 90%;
		height: 220px;	
	}		
}

.similares .content{
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.similares{
	padding-bottom: 40px;
}